* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
} 

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.contenido {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #94BE1F;
    padding: 30px 20px;
    left: 0;
    top: 0;
    position: sticky;
    z-index: 1;
}

.header__contenido {
    display: flex;
    justify-content: space-between;
}

.header__contenido h3 {
    display: flex;
    align-items: center;
}

.fa-regular {
    font-size: 1.8em;
    padding: 0 10PX;
}

.header__content--titulo {
    color: white;
}

.header__contenido--navbar {
    display: flex;
}

.header__contenido--navbar li {
    margin: 0 15px;
}

.header__contenido--navbar li a {
    color: black;
    font-weight: bold;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 25px 50px 12px rgba(0,0,0,0.5);
}

.card__header {
    position: relative;
}

.card__header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card__header small {
    background-color: rgba(14, 3, 3, 0.5);
    color: #fff;
    padding: 8px;
    position: absolute;
    border-radius: 10px;
    right: 1;
}

.card__title {
    margin-bottom: 20px;
}

.card__description {
    margin-bottom: 20px;
}

.card__header--strong {
    font-weight: bold;
}

.noticias {
    margin-top: 40px;
    margin-bottom: 40px;
}

.noticias__titulo {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.noticias__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

/* SECTION FOOTER */    

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #181818;
    color: white;
}

.footer h2 {
    font-size: 2em;
}


.footer__social {
    align-items: center;
    font-size: 2em;
    padding-left: 20px;
}


.footer__social .fa-brands {
    margin-right: 20px;
}


.footer__social .fa-brands:hover {
    color: #94BE1F;
}

/* PAGINA SUSCRIBITE */

.headerS {
    width: 100%;
    background-color: #94BE1F;
    padding: 30px 20px;
}

.headerS__suscribite h3 {
    display: flex;
    align-items: center;
}

.header__suscribite {
    justify-content: space-between;
}

.headerS__subtitulos {
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: 1.8em;
}

.servicios {
    height: 695px;
    background: linear-gradient(180deg, #94BE1F 50%,#eee 50%);
}

.servicios__items {
        grid-column: 1/-1;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
}
        
.servicios__items-item {
            width: 30%;
            background-color: white;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            height: 350px;
            padding: 20px 10px;
            text-align: center;
        }
        
        .servicios__items-item:hover {
            box-shadow: 0 25px 50px 12px rgba(0,0,0,0.5);
}

.servicios__items-titulo {
            padding: 20px;
            font-weight: bold;
            font-size: 1.8em;
}

.servicios__precios {
    padding: 20px;
    font-weight: bold;
    font-size: 2.5em;
}

.servicios__precios small {
    font-size: .5em;
    color: grey;
}

.servicios__descripcion {
    padding: 10px;
    background-color: yellow;
}

.servicios__descripcion2 {
    padding-bottom : 10px;
    margin-bottom: 20px;
}

.servicios__btn {
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    margin: 0 35px;
    font-weight: bold;
}


.grid   {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

/* PAGINA REGISTRATE */

.headerR {
    width: 100%;
    background-color: #94BE1F;
    padding: 30px 20px;
}

.main {

    height: 450px;

}

.form {
   text-align: center;
   margin: 30px auto;
   width: 300px; 
   background-color: white;
   padding: 2px;
   border-radius: 10px;
}

.form__titulo {
    color: black;
}

input, textarea {
    padding: 5px;
}

label {
    display: block;
    padding: 5px;
}

.form ul li {
    margin: 10px;
}

.btn{
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #94BE1F;
    width: auto;
    border-radius: 30px;
    padding: 10px;
    margin: 0 35px;
    font-weight: bold;
}

@media (max-width: 992px) {
    .courses__grid {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .noticias__grid {
    grid-template-columns: 1fr;
    }

    .header__contenido--navbar {
        display: none;    
    }
}




